.container {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.2);
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
}

.vendingmachine {
    background-image: url(https://static.wikia.nocookie.net/to-aru-majutsu-no-index/images/2/26/Jihanki.png/revision/latest?cb=20120504161315);
}